form {
  max-width: 500px;
  margin: 0px auto; //goes in the middle
  padding: 20px;

}

input {
  margin: 20px 10px;
  width: 90%;
  border: 0px;
  font-size: 18px;
  box-shadow: 5px 5px 0px #f27121;
}

button {
  color: white;
  background: linear-gradient(to right, #f27121, #e94057);
  border: 10px;
  padding: 10px;
  font-size: 18px;
  margin: 0px 5px;
}
